.h-100vh {
  height: 100vh;
}

.td-table {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 23px;
  height: 50px;
  max-width: 200px;
}

.tb-image {
  width: 40px;
  height: 40px;
  object-fit: cover;
}